@page "/"
@using System.Globalization
@inherits BaseCalculatorComponent

<div class="container-sm d-flex flex-column gap-4">
    <div class="input-group input-group-lg">
        <input id="floatingInput" @bind-value="_inputText" type="text" class="form-control" placeholder="2, 4, 6, ..." aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" disabled="@_computing">
        <button type="button" class="btn btn-primary" disabled="@_computing" @onclick="ComputeAsync">
            @if (_computing)
            {
                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            }
            Compute
        </button>
        @if (_viewModels.Any())
        {
            <button type="button" class="btn btn-outline-danger" @onclick="ClearItemList">
                Clear
            </button>
        }
    </div>
    @if (_viewModels.Any())
    {
        <div>
            <ul class="list-group overflow-scroll" style="max-height: 80vh;">
                @foreach (var historyItem in _viewModels)
                {
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between align-items-center">
                            @(string.IsNullOrEmpty(historyItem.Origin) ? "0" : historyItem.Origin)
                            <span class="d-flex align-items-center gap-4">
                                <strong>
                                    = @historyItem.Sum.ToString(CultureInfo.InvariantCulture)
                                </strong>
                                <button type="button" class="btn btn-danger btn-sm" @onclick="() => RemoveItemFromList(historyItem)">Remove</button>
                            </span>
                        </div>
                    </li>
                }
            </ul>
        </div>
    }
    else
    {
        <div class="alert alert-primary" role="alert">
            History is empty now...
        </div>
    }
</div>